body{
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(172, 160, 160);
}

#carrito {
  margin-right: 20px;
  width: 60px;
}

#logo {
  margin-left: 20px;
  width: 200px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 50px;
  background-color: rgb(172, 160, 160);
  position: fixed;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  color: black;
  text-align: center;
  text-decoration: underline red;
}

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: auto;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.art {
  border: 2px solid red;
}

.productos img {
  display: block;
  margin: auto;
  width: auto;
  height: 300px;
}

#ptitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#desc {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9em;
}

#price {
  font-family: "impact";
  font-size: 1.2em;
  text-decoration: underline solid red;
}

#btn {
  margin-right: 2vh;
  margin-left: 2vh;
  cursor: pointer;
  font-size: 0.8em;
}

#btn:hover {
  font-size: 1em;
  background-color: red;
  color: white;
}

.cesta-vacia { 
  margin: 0;
  font-size: 3.5em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#total{
  font-size: 2em;
  font-family: "impact";
  text-align: center;
}

.dts{
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#btnpago{
  font-size: 0.6em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  cursor: pointer;
  margin-top: 2vh;
  margin-bottom: 2vh;
}